---
import Layout from 'layouts/Layout.astro'
import EarthSvg from 'assets/earth.astro'
import RocketAstronaut from 'assets/rocket-astronaut.astro'
---

<Layout title='Welcome to Astro.'>
	<div class='absolute h-full w-full overflow-clip'>
		<div class='stars absolute h-full w-full bg-black bg-cover'></div>
		<div class='twink absolute h-full w-full'></div>
		<div class='stars-shine absolute h-full w-full bg-cover'></div>
		<div
			class='cloud absolute h-full w-full bg-repeat-x opacity-60 md:mt-20 md:[background-size:150%] lg:mt-0 xl:[background-size:125%] 2xl:[background-size:110%]'
		>
		</div>

		<EarthSvg
			className='h-[28rem] md:h-[36rem] lg:h-[40rem] xl:h-[48rem] 2xl:h-[60rem] -rotate-90 absolute top-0 left-0 -translate-x-1/2 2xl:ml-20 -translate-y-1/2'
		/>
		<div
			id='br-gradient'
			class='absolute bottom-0 right-0 h-1/3 w-full bg-gradient-to-br from-transparent via-transparent to-indigo-900/80 md:w-3/4 xl:h-1/2'
		>
		</div>

		<div
			id='content-bg'
			class='bg-red-500s absolute top-1/2 left-1/2 -ml-12 h-fit w-[175%] -translate-y-1/2 -translate-x-1/2 overflow-clip md:-ml-40 md:w-[120%] lg:-ml-32 lg:w-[96%] xl:-ml-24 xl:w-[88%] 2xl:-ml-20 2xl:w-[72%]'
		>
			<svg
				class='-mt-16 -rotate-[15deg]'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
				viewBox='0 0 800 800'
			>
				<defs>
					<radialGradient id='radial-gradient'>
						<stop offset='50%' stop-color='black' stop-opacity='.9'></stop>
						<stop offset='70%' stop-color='black' stop-opacity='.7'></stop>
						<stop offset='100%' stop-color='black' stop-opacity='0'></stop>
					</radialGradient>
				</defs>
				<g id='background'>
					<ellipse
						rx='400'
						ry='250'
						cx='400'
						cy='400'
						fill='url(#radial-gradient)'
						style='mix-blend-mode:color-dodge'></ellipse>
				</g>
			</svg>
		</div>

		<div
			class='astronaut-container absolute -bottom-8 right-0 md:mr-12 md:mb-8 lg:mr-8 xl:mr-16 2xl:mr-60'
		>
			<div class='astronaut'>
				<RocketAstronaut className='h-72 xl:h-80 2xl:h-96 w-full' />
			</div>
		</div>
	</div>

	<main
		class='container relative m-auto min-h-screen max-w-screen-md overflow-y-clip p-4 md:px-8 lg:px-0'
	>
		<div class='absolute top-1/2 -mt-8 -translate-y-1/2 pr-2 md:pr-0'>
			<h1
				class='text-5xl font-bold leading-tight md:text-6xl md:leading-tight 2xl:text-7xl 2xl:leading-snug'
			>
				<span class='lightSpeed0'>Web keep <span class='lightSpeed1'>evolving..</span></span>
				<span class='lightSpeed2 block italic'>
					..really
					<span
						class='align-bottom text-[3.5rem] text-transparent [-webkit-text-stroke:2px_white] md:text-[4rem] 2xl:text-[5rem]'
					>
						fast!
					</span>
				</span>
			</h1>

			<p class='mt-4 text-lg leading-6 md:mt-6 md:text-xl 2xl:text-2xl'>
				<span style='--n:150' class='type'>
					It will keep expanding like the <span class='font-semibold italic'>galaxy.</span>
					<br />
					Be part of change & become one of the <span class='font-semibold italic'>stars.</span>
					<br />
					Or stay with the obsolete tech & die slowly on our boring
					<span class='font-semibold italic'> planet!</span>&nbsp;
				</span>
			</p>
		</div>
	</main>
</Layout>

<style lang='scss'>
	// Web keep..
	$delay-0: 0.4s;
	$duration-0: 0.7s;
	// evolving..
	$delay-1: $delay-0 + $duration-0 - 0.3s;
	$duration-1: 1s;
	// ...really fast
	$delay-2: $delay-1 + $duration-1 - 0.4s;
	$duration-2: 0.5s;
	// astronaut show
	$delay-3: $delay-2 + $duration-2 - 0.7s;
	$duration-3: 2s;
	// astronout wobble
	$delay-4: $delay-3 + $duration-3;
	$duration-4: 3s;
	// typing paragraph
	$delay-5: $delay-4;
	$duration-5: 7.5s;
	// hand waving
	$delay-6: $delay-5 + $duration-5 - 0.5s;

	.stars {
		background-image: url(/images/stars.svg);
	}
	.twink {
		animation: move-twink 300s linear infinite;
		background-image: url(/images/twinkling-mask.png);
	}
	.cloud {
		animation: move-cloud 200s linear infinite;
		background-image: url(/images/cloud.png);
	}
	.stars-shine {
		background-image: url(/images/stars-shine.svg);
	}

	.lightSpeed0 {
		animation: lightSpeed $duration-0 $delay-0 ease-out backwards;
	}
	.lightSpeed1 {
		animation: lightSpeed $duration-1 $delay-1 ease-out backwards;
	}
	.lightSpeed2 {
		animation: lightSpeed $duration-2 $delay-2 ease-out backwards;
	}

	.astronaut-container {
		animation: zoomInUp $duration-3 $delay-3 ease-out backwards,
			wobbleX $duration-4 $delay-4 alternate ease-in-out infinite;
	}

	.type {
		/* font-family: monospace; */
		color: #0000;
		background: linear-gradient(-90deg, rgb(203 213 225) 5px, #0000 0) 10px 0,
			linear-gradient(rgb(203 213 225) 0 0) 0 0;
		background-size: calc(var(--n) * 0.8ch) 200%;
		-webkit-background-clip: padding-box, text;
		background-clip: padding-box, text;
		background-repeat: no-repeat;
		animation: b 0.5s $delay-5 infinite steps(1) backwards,
			t calc(var(--n) * 0.05s) $delay-5 steps(var(--n)) both;
	}

	.astronaut {
		animation: wobbleY 4s alternate ease-in-out infinite;
	}

	@keyframes move-twink {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}

	@keyframes move-cloud {
		from {
			background-position: 0 60px;
		}
		to {
			background-position: 10000px 60px;
		}
	}

	@keyframes wobbleY {
		0% {
			transform: translateY(0);
		}
		25% {
			transform: translateY(-30px);
		}
		50% {
			transform: translateY(-20px);
		}
		75% {
			transform: translateY(-50px);
		}
		100% {
			transform: translate3d(-30px);
		}
	}
	@keyframes wobbleX {
		0% {
			transform: translateX(0);
		}
		14.5% {
			transform: translateX(-5px);
		}
		28.57% {
			transform: translateX(5px);
		}
		42.83% {
			transform: translateX(-12px);
		}
		57.14% {
			transform: translateX(12px);
		}
		71.42% {
			transform: translateX(-8px);
		}
		85.72% {
			transform: translateX(8px);
		}
		100% {
			transform: translateX(0px);
		}
	}

	@keyframes zoomInUp {
		from {
			opacity: 0;
			transform: scale3d(0.1, 0.1, 0.1) translate3d(400px, 1000px, 0) rotate(90deg);
			animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		60% {
			opacity: 1;
			transform: scale3d(0.6, 0.6, 0.6) translate3d(100px, -100px, 0) rotate(30deg);
			animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		}
	}

	@keyframes lightSpeed {
		from {
			transform: translate3d(-100%, 0, 0) skewX(30deg);
			opacity: 0;
		}

		60% {
			transform: skewX(-20deg);
			opacity: 1;
		}

		80% {
			transform: skewX(5deg);
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes t {
		from {
			background-size: 0 200%;
		}
	}
	@keyframes b {
		50% {
			background-position: 0 -100%, 0 0;
		}
	}
</style>
