---
import Layout from 'layouts/Layout.astro'
import img from 'public/images/og-resume.jpg'

const env = import.meta.env.VERCEL_ENV
let urlHome = ''

switch (env) {
	case undefined:
	case 'development':
		urlHome = 'http://localhost:3000'
		break
	case 'preview':
		urlHome = `https://${import.meta.env.VERCEL_URL}`
		break
	case 'production':
		urlHome = `${Astro.site}/resume`
		break

	default:
		break
}
---

<Layout
	title="Alberto Riolly Cahyantara's Resume"
	description='Self-learned, always evolving, front-end/ full-stack developer focused to create engaging and intuitive software.'
	image={img}
>
	<div class='sticky top-0 h-0'>
		<a
			href={urlHome}
			class='group absolute right-4 top-4 h-10 w-10 rounded-full bg-blue-100 p-2 transition-all hover:bg-blue-600 active:translate-y-1'
		>
			<svg viewBox='0 0 576 512' class='text-blue-500 group-hover:text-blue-100'>
				<path
					fill='currentColor'
					d='M303.5 5.7c-9-7.6-22.1-7.6-31.1 0l-264 224c-10.1 8.6-11.3 23.7-2.8 33.8s23.7 11.3 33.8 2.8L64 245.5V432c0 44.2 35.8 80 80 80H432c44.2 0 80-35.8 80-80V245.5l24.5 20.8c10.1 8.6 25.3 7.3 33.8-2.8s7.3-25.3-2.8-33.8l-264-224zM112 432V204.8L288 55.5 464 204.8V432c0 17.7-14.3 32-32 32H384V312c0-22.1-17.9-40-40-40H232c-22.1 0-40 17.9-40 40V464H144c-17.7 0-32-14.3-32-32zm128 32V320h96V464H240z'
				></path>
			</svg></a
		>
	</div>

	<div class='mx-auto max-w-screen-xl bg-gray-900 shadow-xl shadow-gray-600'>
		<section
			id='header'
			class='space-y-2 border-r-8 border-gray-200 bg-gray-700 px-2 pb-4 pt-8 md:space-y-4 md:border-r-[12px]'
		>
			<h1 class='text-center font-head text-5xl md:text-6xl'>Alberto R Cahyantara</h1>
			<h2 class='text-center font-body text-xl text-blue-100 md:text-2xl'>
				Front-end / Full-stack Developer
			</h2>
		</section>

		<div
			id='sub-header'
			class='flex justify-center gap-2 border-r-2 border-gray-200 bg-gray-800 px-4 pb-4 pt-3 md:gap-4 md:border-r-4'
		>
			<section id='contacts' class='w-72'>
				<p
					class='flex flex-col items-end text-sm leading-4 text-gray-300 md:text-base md:leading-tight'
				>
					<span class='font-body not-italic'>Jakarta, Indonesia</span>
					<span>+62 851 7432 8051 &nbsp;</span>
					<span>alberto.cahyantara@gmail<span class='hidden md:inline'>.com</span></span>
				</p>
			</section>
			<div class='self-center text-xs text-white md:text-base'>&#9679;</div>
			<section id='socials' class='w-72 font-body'>
				<p
					class='flex flex-col text-sm leading-4 text-gray-300 md:flex-col md:text-base md:leading-tight'
				>
					<a href='https://www.riolly.dev/'>riolly.dev</a>
					<a href='https://github.com/riolly'>&nbsp; github.com/riolly</a>
					<a href='https://linkedin.com/in/riolly'>linkedin.com/in/riolly</a>
				</p>
			</section>
		</div>

		<div
			id='content'
			class='mx-auto flex max-w-screen-lg flex-col gap-8 px-6 pb-12 pt-8 md:px-12 md:pt-10 lg:pt-12 xl:px-0'
		>
			<div id='profile' class='grid grid-cols-12 gap-0 md:gap-8'>
				<div class='col-span-full border-t border-gray-400 md:col-span-3'>
					<h3 class='border-gray-400-2 w-fit border-t pl-0 pr-2 pt-1 text-xl md:pl-2'>Profile</h3>
				</div>
				<div class='col-span-full pt-4 md:col-span-9 md:pt-2'>
					<p class='indent-8 text-blue-100'>
						Self-learned front-end developer focused to create engaging and intuitive UI. With over
						three years of experience using React and its ecosystem, including Next.js, I prioritize
						the user experience by optimizing performance. I leverage TypeScript extensively to
						ensure fast and reliable development, and build design systems with Tailwind CSS to make
						products stand out & consistent. As a seasonal full-stack developer, I have extensive
						experience building APIs, using ORM/SQL, and managing databases. Active in programming
						community make me stay up-to-date with the latest technology.
					</p>
					<p class='indent-8 text-blue-100'>
						I am looking for collaborative and supportive environment where we can grow together as
						a team through solving problem and build innovative product.
					</p>
				</div>
			</div>

			<div id='works' class='grid grid-cols-12 md:gap-8'>
				<div class='col-span-full border-t border-gray-400 md:col-span-3'>
					<h3 class='border-gray-400-2 w-fit border-t pl-0 pr-2 pt-1 text-xl md:pl-2'>
						Work Experience
					</h3>
				</div>

				<div class='col-span-full flex flex-col gap-4 pt-4 md:col-span-9 md:pt-2'>
					<div>
						<p class='justify-between leading-4 md:flex'>
							<span class='text-lg font-bold text-blue-100'>Full-stack Developer - Freelance</span>
							<span class='whitespace-nowrap italic text-slate-400 md:mt-1.5'>July 2022 — now</span>
						</p>
						<ul class='ml-4 mt-2 list-disc text-gray-300 md:ml-0'>
							<li>
								Developed full-stack applications using Next.js, utilizing various rendering
								techniques such as SSG, ISR, and SSR to improve performance and SEO depending on the
								page type.
							</li>
							<li>
								Integrating Prisma ORM, tRPC, and react-query on the back-end to make type-safe
								APIs, that are easy to call and manage.
							</li>
							<li>
								Migrating project to a monorepo using Turborepo to make package reusable in multiple
								apps.
							</li>
							<li>
								Added a react native (Expo) to existing project and integrated it with the back-end
								and auth using Clerk.
							</li>
							<li>
								Built a personal website with Astro that achieved a perfect 100 score on Lighthouse.
							</li>
							<li>
								Enhanced page interactivity with the island architecture with SolidJS framework on
								it.
							</li>
							<li>
								Created stunning animations using pure CSS, resulting in visually appealing pages
								even without JavaScript.
							</li>
							<li>
								Developed a responsive design system using Tailwind CSS for faster & easier styling.
							</li>
							<li>
								Deployed and maintained databases using Planetscale, resulting in zero downtime and
								easier migration management.
							</li>
							<li>Developed an app with improved accessibility using ChakraUI.</li>
							<li>Designed multiple landing page mockups using Figma.</li>
							<li>
								Created custom markdown editor with Tiptap, incorporating all the features users
								expect for rich content.
							</li>
							<li>Implemented infinite scroll for blog posts, resulting in faster query speeds.</li>
						</ul>
					</div>

					<div>
						<p class='justify-between leading-4 md:flex'>
							<span class='text-lg font-bold text-blue-100'>Front-end Developer at Achiko AG</span>
							<span class='whitespace-nowrap italic text-slate-400 md:mt-1.5'
								>September 2020 — June 2022</span
							>
						</p>
						<ul class='ml-4 mt-2 list-disc text-gray-300 md:ml-0'>
							<li>
								Led & finished dashboard app revamp project within four months with a new design
								system, resulting in increased user engagement and improved UX.
							</li>
							<li>
								Improved code safety and reliability by porting legacy code to TypeScript, resulting
								in a more maintainable and scalable codebase.
							</li>
							<li>
								Optimized app performance by reducing bundle size with code-splitting, resulting in
								faster page load times and improved user experience.
							</li>
							<li>
								Designed and developed an interactive chart feature, providing users with valuable
								insights and data visualization capabilities.
							</li>
							<li>
								Implemented an advanced table system to handle complex data, improving data
								management and organization for users.
							</li>
							<li>
								Created a complex form with advanced validation, resulting in a user-friendly and
								error-free data input experience.
							</li>
							<li>
								Managed async server state with client caching, resulting faster data retrieval and
								more responsive app.
							</li>
							<li>
								Developed data export feature to Excel & PDF, allowing users to easily export and
								share data with others.
							</li>
							<li>
								Built a custom markdown editor for rich text content, providing a more flexible and
								customizable content creation experience.
							</li>
							<li>
								Implemented React Suspend and optimistic rendering to improve user experience,
								resulting in smoother and more responsive app performance.
							</li>
							<li>
								Collaborated with the back-end team to adjust API for the new dashboard, ensuring
								seamless integration and improved overall app functionality.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id='education' class='grid grid-cols-12 md:gap-8'>
				<div class='col-span-full border-t border-gray-400 md:col-span-3'>
					<h3 class='border-gray-400-2 w-fit border-t pl-0 pr-2 pt-1 text-xl md:pl-2'>Education</h3>
				</div>
				<div class='col-span-full space-y-4 pt-4 md:col-span-9 md:pt-2'>
					<div class='justify-between md:flex'>
						<div class='leading-loose lg:space-y-1'>
							<p class='text-lg font-bold leading-tight text-blue-100'>
								Full-stack Javascript Developer
							</p>
							<p class='leading-tight text-gray-300'>Hacktiv8 Bootcamp, Jakarta</p>
						</div>
						<p class='whitespace-nowrap italic text-slate-400'>February — June 2020</p>
					</div>
					<div class='justify-between md:flex'>
						<div class='leading-loose lg:space-y-1'>
							<p class='text-lg font-bold leading-tight text-blue-100'>
								Bachelor of Engineering Physics
							</p>
							<p class='leading-tight text-gray-300'>
								Sepuluh Nopember Institute of Technology (ITS), Surabaya
							</p>
						</div>
						<p class='whitespace-nowrap italic text-slate-400'>2013 — 2017</p>
					</div>
				</div>
			</div>

			<div id='skills' class='grid grid-cols-12 md:gap-8'>
				<div class='col-span-full border-t border-gray-400 md:col-span-3'>
					<h3 class='border-gray-400-2 w-fit border-t pl-0 pr-2 pt-1 text-xl md:pl-2'>Skills</h3>
				</div>
				<div class='col-span-full grid grid-cols-3 gap-x-6 pl-4 pt-4 md:col-span-9 md:pl-0 md:pt-2'>
					<ul class='col-span-full list-disc text-gray-50 md:col-span-1'>
						<li class='font-bold'>Typescript</li>
						<li class='font-bold'>React</li>
						<li>React Native / Expo</li>
						<li>Next.js / Vercel</li>
						<li>TailwindCSS / SASS</li>
					</ul>
					<ul class='col-span-full list-disc text-gray-100 md:col-span-1'>
						<li>tRPC</li>
						<li>TanStack query, table, router</li>
						<li>Auth.js / OAuth</li>
						<li>Zustand / Redux</li>
						<li>ReactHookForm / Formik</li>
					</ul>
					<ul class='col-span-full list-disc text-gray-200 md:col-span-1'>
						<li>Prisma / Sequelize</li>
						<li>MySQL (PlanetScale)</li>
						<li>Astro</li>
						<li>SolidJs</li>
						<li>Figma, and many more</li>
					</ul>
				</div>
			</div>

			<div id='languages' class='grid grid-cols-12 md:gap-8'>
				<div class='col-span-full border-t border-gray-400 md:col-span-3'>
					<h3 class='border-gray-400-2 w-fit border-t pl-0 pr-2 pt-1 text-xl md:pl-2'>Languages</h3>
				</div>
				<div class='col-span-full space-y-4 pt-4 md:col-span-9 md:pt-2'>
					<p>
						<span class='text-blue-100'><b>English</b> as international language</span>
						<br />
						<span class='text-gray-300'>Professional working proficiency (C1)</span>
					</p>
					<p>
						<span class='text-blue-100'><b>Bahasa Indonesia</b> as national language</span>
						<br />
						<span class='text-gray-300'>Native / bilingual proficiency</span>
					</p>
					<p>
						<span class='text-blue-100'><b>Javanese</b> as local language</span>
						<br />
						<span class='text-gray-300'>Native / bilingual proficiency</span>
					</p>
				</div>
			</div>

			<div id='references' class='grid grid-cols-12 md:gap-8'>
				<div class='col-span-full border-t border-gray-400 md:col-span-3'>
					<h3 class='border-gray-400-2 w-fit border-t pl-0 pr-2 pt-1 text-xl md:pl-2'>
						References
					</h3>
				</div>
				<div class='col-span-full grid grid-cols-6 gap-4 pt-4 md:col-span-9 md:gap-6 md:pt-2'>
					<div class='col-span-full flex flex-col gap-1 md:col-span-3 lg:col-span-2'>
						<p class='font-bold leading-4 text-blue-100'>Yudhistira Eka Putra</p>
						<p class='leading-4 text-gray-300'>Lyaeus GmbH</p>
						<p class='truncate leading-4 text-gray-400 md:mt-1.5'>yudhistira.eka.putra@gmail.com</p>
						<p class='leading-4 text-gray-400'>+62 811 8949 797</p>
					</div>
					<div class='col-span-full flex flex-col gap-1 md:col-span-3 lg:col-span-2'>
						<p class='font-bold leading-4 text-blue-100'>Rahmat Gilang Maulana</p>
						<p class='leading-4 text-gray-300'>Sirclo - sirclo.com</p>
						<p class='truncate leading-4 text-gray-400 md:mt-1.5'>gilang.maulana@gmail.com</p>
						<p class='leading-4 text-gray-400'>+62 851 5528 1158</p>
					</div>
					<div class='col-span-full flex flex-col gap-1 md:col-span-3 lg:col-span-2'>
						<p class='font-bold leading-4 text-blue-100'>Fadilah Arifki</p>
						<p class='leading-4 text-gray-300'>Pandatech - pandatech.io</p>
						<p class='truncate leading-4 text-gray-400 md:mt-1.5'>fadilah.arifki29@gmail.com</p>
						<p class='leading-4 text-gray-400'>+62 895 0582 2191</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
