---
import Layout from 'layouts/Layout.astro'
import img from 'public/images/og-resume.jpg'
---

<Layout
	title="Alberto Riolly Cahyantara's Resume"
	description='Self-learned, always evolving, front-end/ full-stack developer focused to create engaging and intuitive software.'
	image={img}
>
	<div class='mx-auto max-w-screen-xl bg-gray-900 shadow-xl shadow-gray-600'>
		<section id='header' class='space-y-4 border-r-[12px] border-gray-300 bg-gray-700 pb-4 pt-8'>
			<h1 class='text-center font-head text-6xl'>Alberto R Cahyantara</h1>
			<h2 class='text-center font-body text-2xl text-blue-100'>Front-end / Full-stack Developer</h2>
		</section>

		<div
			id='sub-header'
			class='flex justify-center gap-4 border-r-4 border-gray-300 bg-gray-800 py-3'
		>
			<section id='contacts' class='w-72'>
				<p class='flex flex-col items-end leading-tight text-gray-300'>
					<span class='font-body not-italic'>Jakarta, Indonesia</span>
					<span>+62 851 7432 8051 &nbsp;</span>
					<span>alberto.cahyantara@gmail.com</span>
				</p>
			</section>
			<div class='flex self-center text-white'>&#9679;</div>
			<section id='socials' class='w-72 font-body'>
				<p class='flex flex-col leading-tight text-gray-300'>
					<a href='https://www.riolly.dev/'>riolly.dev</a>
					<a href='https://github.com/riolly'>&nbsp; github.com/riolly</a>
					<a href='https://linkedin.com/in/riolly'>linkedin.com/in/riolly</a>
				</p>
			</section>
		</div>

		<div id='content' class='mx-auto flex max-w-screen-lg flex-col gap-8 px-12 py-12 xl:px-0'>
			<div id='profile' class='grid grid-cols-12 gap-8'>
				<div class='col-span-3 border-t border-gray-400'>
					<h3 class='border-gray-400-2 w-fit border-t px-2 pt-1 text-xl'>Profile</h3>
				</div>
				<div class='col-span-9 pt-2'>
					<p class='indent-8 text-blue-100'>
						Self-learned front-end developer focused to create engaging and intuitive UI. With over
						three years of experience using React and its ecosystem, including Next.js, I prioritize
						the user experience by optimizing performance. I leverage TypeScript extensively to
						ensure fast and reliable development, and build design systems with Tailwind CSS to make
						products stand out & consistent. As a seasonal full-stack developer, I have extensive
						experience building APIs, using ORM/SQL, and managing databases. Active in programming
						community make me stay up-to-date with the latest technology.
					</p>
					<p class='indent-8 text-blue-100'>
						I am looking for collaborative and supportive environment where we can grow together as
						a team through solving problem and build innovative product.
					</p>
				</div>
			</div>

			<div id='works' class='grid grid-cols-12 gap-8'>
				<div class='col-span-3 border-t border-gray-400'>
					<h3 class='border-gray-400-2 w-fit border-t px-2 pt-1 text-xl'>Work Experience</h3>
				</div>

				<div class='col-span-9 flex flex-col gap-4 pt-2'>
					<div>
						<p class='flex justify-between'>
							<span class='text-lg font-bold text-blue-100'>Full-stack Developer - Freelance</span>
							<span class='whitespace-nowrap italic text-slate-400'>July 2022 — now</span>
						</p>
						<ul class='list-disc text-gray-300'>
							<li>
								Developed full-stack applications using Next.js, utilizing various rendering
								techniques such as SSG, ISR, and SSR to improve performance and SEO depending on the
								page type.
							</li>
							<li>
								Integrating Prisma ORM, tRPC, and react-query on the back-end to make type-safe
								APIs, that are easy to call and manage.
							</li>
							<li>
								Migrating project to a monorepo using Turborepo to make package reusable in multiple
								apps.
							</li>
							<li>
								Added a react native (Expo) to existing project and integrated it with the back-end
								and auth using Clerk.
							</li>
							<li>
								Built a personal website with Astro that achieved a perfect 100 score on Lighthouse.
							</li>
							<li>
								Enhanced page interactivity with the island architecture with SolidJS framework on
								it.
							</li>
							<li>
								Created stunning animations using pure CSS, resulting in visually appealing pages
								even without JavaScript.
							</li>
							<li>
								Developed a responsive design system using Tailwind CSS for faster & easier styling.
							</li>
							<li>
								Deployed and maintained databases using Planetscale, resulting in zero downtime and
								easier migration management.
							</li>
							<li>Developed an app with improved accessibility using ChakraUI.</li>
							<li>Designed multiple landing page mockups using Figma.</li>
							<li>
								Created custom markdown editor with Tiptap, incorporating all the features users
								expect for rich content.
							</li>
							<li>Implemented infinite scroll for blog posts, resulting in faster query speeds.</li>
						</ul>
					</div>

					<div>
						<p class='flex justify-between'>
							<span class='text-lg font-bold text-blue-100'>Front-end Developer at Achiko AG</span>
							<span class='whitespace-nowrap italic text-slate-400'>September 2020 — June 2022</span
							>
						</p>
						<ul class='list-disc text-gray-300'>
							<li>
								Led & finished dashboard app revamp project within four months with a new design
								system, resulting in increased user engagement and improved UX.
							</li>
							<li>
								Improved code safety and reliability by porting legacy code to TypeScript, resulting
								in a more maintainable and scalable codebase.
							</li>
							<li>
								Optimized app performance by reducing bundle size with code-splitting, resulting in
								faster page load times and improved user experience.
							</li>
							<li>
								Designed and developed an interactive chart feature, providing users with valuable
								insights and data visualization capabilities.
							</li>
							<li>
								Implemented an advanced table system to handle complex data, improving data
								management and organization for users.
							</li>
							<li>
								Created a complex form with advanced validation, resulting in a user-friendly and
								error-free data input experience.
							</li>
							<li>
								Managed async server state with client caching, resulting faster data retrieval and
								more responsive app.
							</li>
							<li>
								Developed data export feature to Excel & PDF, allowing users to easily export and
								share data with others.
							</li>
							<li>
								Built a custom markdown editor for rich text content, providing a more flexible and
								customizable content creation experience.
							</li>
							<li>
								Implemented React Suspend and optimistic rendering to improve user experience,
								resulting in smoother and more responsive app performance.
							</li>
							<li>
								Collaborated with the back-end team to adjust API for the new dashboard, ensuring
								seamless integration and improved overall app functionality.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id='education' class='grid grid-cols-12 gap-8'>
				<div class='col-span-3 border-t border-gray-400'>
					<h3 class='border-gray-400-2 w-fit border-t px-2 pt-1 text-xl'>Education</h3>
				</div>
				<div class='col-span-9 space-y-4 pt-2'>
					<div class='flex justify-between'>
						<div class='space-y-2 leading-loose'>
							<p class='text-lg font-bold text-blue-100'>Full-stack Javascript Developer</p>
							<p class='leading-tight text-gray-300'>Hacktiv8 Bootcamp, Jakarta</p>
						</div>
						<p class='whitespace-nowrap italic text-slate-400'>February — June 2020</p>
					</div>
					<div class='flex justify-between'>
						<div class='space-y-2 leading-loose'>
							<p class='text-lg font-bold text-blue-100'>Bachelor of Engineering Physics</p>
							<p class='leading-tight text-gray-300'>
								Sepuluh Nopember Institute of Technology (ITS), Surabaya
							</p>
						</div>
						<p class='whitespace-nowrap italic text-slate-400'>2013 — 2017</p>
					</div>
				</div>
			</div>

			<div id='skills' class='grid grid-cols-12 gap-8'>
				<div class='col-span-3 border-t border-gray-400'>
					<h3 class='border-gray-400-2 w-fit border-t px-2 pt-1 text-xl'>Skills</h3>
				</div>
				<div class='col-span-9 grid grid-cols-3 gap-6 pt-2'>
					<ul class='list-disc text-gray-300'>
						<li class='font-bold'>Typescript</li>
						<li class='font-bold'>React</li>
						<li>React Native / Expo</li>
						<li>Next.js / Vercel</li>
						<li>TailwindCSS / SASS</li>
					</ul>
					<ul class='list-disc text-gray-300'>
						<li>tRPC</li>
						<li>TanStack query, table, router</li>
						<li>Auth.js / OAuth</li>
						<li>Zustand / Redux</li>
						<li>ReactHookForm / Formik</li>
					</ul>
					<ul class='list-disc text-gray-300'>
						<li>Prisma / Sequelize</li>
						<li>MySQL (PlanetScale)</li>
						<li>Astro</li>
						<li>SolidJs</li>
						<li>Figma, and many more</li>
					</ul>
				</div>
			</div>

			<div id='languages' class='grid grid-cols-12 gap-8'>
				<div class='col-span-3 border-t border-gray-400'>
					<h3 class='border-gray-400-2 w-fit border-t px-2 pt-1 text-xl'>Languages</h3>
				</div>
				<div class='col-span-9 space-y-4 pt-2'>
					<p>
						<span class='text-blue-100'><b>English</b> as international language</span>
						<br />
						<span class='text-gray-300'>Professional working proficiency (C1)</span>
					</p>
					<p>
						<span class='text-blue-100'><b>Bahasa Indonesia</b> as national language</span>
						<br />
						<span class='text-gray-300'>Native / bilingual proficiency</span>
					</p>
					<p>
						<span class='text-blue-100'><b>Javanese</b> as local language</span>
						<br />
						<span class='text-gray-300'>Native / bilingual proficiency</span>
					</p>
				</div>
			</div>

			<div id='references' class='grid grid-cols-12 gap-8'>
				<div class='col-span-3 border-t border-gray-400'>
					<h3 class='border-gray-400-2 w-fit border-t px-2 pt-1 text-xl'>References</h3>
				</div>
				<div class='col-span-9 grid grid-cols-3 gap-4 pt-2'>
					<div class='flex flex-col gap-1'>
						<p class='font-bold leading-4 text-blue-100'>Yudhistira Eka Putra</p>
						<p class='leading-4 text-gray-300'>Lyaeus GmbH</p>
						<p class='mt-1.5 truncate leading-4 text-gray-400'>yudhistira.eka.putra@gmail.com</p>
						<p class='leading-4 text-gray-400'>+62 811 8949 797</p>
					</div>
					<div class='flex flex-col gap-1'>
						<p class='font-bold leading-4 text-blue-100'>Rahmat Gilang Maulana</p>
						<p class='leading-4 text-gray-300'>Sirclo - sirclo.com</p>
						<p class='mt-1.5 truncate leading-4 text-gray-400'>gilang.maulana@gmail.com</p>
						<p class='leading-4 text-gray-400'>+62 851 5528 1158</p>
					</div>
					<div class='flex flex-col gap-1'>
						<p class='font-bold leading-4 text-blue-100'>Fadilah Arifki</p>
						<p class='leading-4 text-gray-300'>Pandatech - pandatech.io</p>
						<p class='mt-1.5 truncate leading-4 text-gray-400'>fadilah.arifki29@gmail.com</p>
						<p class='leading-4 text-gray-400'>+62 895 0582 2191</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
