---
import Layout from 'layouts/Layout.astro'
---

<Layout
	class='bg-white'
	title='Online Resume of Alberto R Cahyantara'
	description='Full-stack/ Front-end Developer with modern tech stack & workflow.'
>
	<div class='container mx-auto border-x'>
		<section id='header' class='space-y-4 bg-slate-700 pb-4 pt-8'>
			<h1 class='text-center font-head text-6xl'>Alberto R Cahyantara</h1>
			<h2 class='text-center font-body text-2xl'>Full-stack / Front-end Developer</h2>
		</section>
		<div id='sub-header' class='grid grid-cols-2 gap-x-10 bg-slate-800 py-4'>
			<section id='contacts'>
				<div class='ml-auto w-fit'>
					<address class='font-body not-italic text-white'>Jakarta, Indonesia</address>
				</div>
				<div class='ml-auto w-fit'>
					<p>+62 851 7432 8051</p>
				</div>
				<div class='ml-auto w-fit'>
					<p>alberto.cahyantara@gmail.com</p>
				</div>
			</section>

			<section id='socials' class='font-body text-white'>
				<div><a href='https://www.riolly.dev/'>riolly.dev</a></div>
				<div><a href='https://github.com/riolly'>github.com/riolly</a></div>
				<div><a href='https://linkedin.com/in/riolly'>linkedin.com/in/riolly</a></div>
			</section>
		</div>

		<div id='content' class='mx-auto flex max-w-screen-lg flex-col gap-8 pb-12'>
			<div id='profile' class='grid grid-cols-12 pt-8'>
				<div class='col-span-3 h-32'>
					<h3>Profile</h3>
				</div>
				<div class='col-span-9 h-32'>
					<p>
						Self-learned front-end developer focused to create engaging and intuitive UI. With over
						three years of experience using React and its ecosystem, including Next.js, I prioritize
						the user experience by optimizing performance. I leverage TypeScript extensively to
						ensure fast and reliable development, and build design systems with Tailwind CSS to make
						products stand out & consistent. As a seasonal full-stack developer, I have extensive
						experience building APIs, using ORM/SQL, and managing databases.
						<br />
						I am looking for collaborative and supportive environment where we can build innovative product
						grow together as a team.
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
