---
import Layout from 'layouts/Layout.astro'
---

<Layout
	class='bg-white'
	title='Online Resume of Alberto R Cahyantara'
	description='Full-stack/ Front-end Developer with modern tech stack & workflow.'
>
	<div class='container mx-auto border-x'>
		<section id='header' class='space-y-4 bg-slate-700 pb-4 pt-8'>
			<h1 class='text-center font-head text-6xl'>Alberto R Cahyantara</h1>
			<h2 class='text-center font-body text-2xl'>Full-stack / Front-end Developer</h2>
		</section>
		<div id='sub-header' class='grid grid-cols-2 gap-x-10 bg-slate-800 py-4'>
			<section id='contacts'>
				<div class='ml-auto w-fit'>
					<address class='font-body not-italic text-white'>Jakarta, Indonesia</address>
				</div>
				<div class='ml-auto w-fit'>
					<p>+62 851 7432 8051</p>
				</div>
				<div class='ml-auto w-fit'>
					<p>alberto.cahyantara@gmail.com</p>
				</div>
			</section>

			<section id='socials' class='font-body text-white'>
				<div><a href='https://www.riolly.dev/'>riolly.dev</a></div>
				<div><a href='https://github.com/riolly'>github.com/riolly</a></div>
				<div><a href='https://linkedin.com/in/riolly'>linkedin.com/in/riolly</a></div>
			</section>
		</div>

	</div>
</Layout>
