---
export interface Props {
	title: string
	body: string
	href: string
}

const {href, title, body} = Astro.props
---

<li
	class='link-card group flex rounded-lg bg-white bg-linear-accent p-0.5 shadow transition-all duration-500 [background-size:400%] [background-position:100%] focus-within:bg-left hover:bg-left md:shadow-md'
>
	<a
		href={href}
		class='rounded-lg bg-white py-3 px-4 leading-6 opacity-80 outline-none md:py-4 md:px-6'
	>
		<h2
			class='m-0 text-lg transition-colors group-focus-within:text-accent group-hover:text-accent md:text-xl'
		>
			{title}
			<span>&rarr;</span>
		</h2>
		<p
			class='mt-2 mb-0 leading-5 text-gray-600 group-focus-within:text-gray-800 group-hover:text-gray-800 md:leading-6'
		>
			{body}
		</p>
	</a>
</li>
