---
import 'styles/global.css'
import '@fontsource/oswald'
import '@fontsource/karla'

import {SITE} from '../config'
import HeadCommon from 'components/HeadCommon.astro'
import HeadSeo from 'components/HeadSeo.astro'
---

<!DOCTYPE html>
<html lang='en-us'>
	<head>
		<HeadCommon />
		<HeadSeo type='website' />
		<title>{SITE.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
