---
import 'styles/global.css'
import '@fontsource/oswald'
import '@fontsource/karla'

import {SITE} from '../config'
import HeadCommon from 'components/HeadCommon.astro'
import HeadSeo from 'components/HeadSeo.astro'

const props = Astro.props

export interface Props {
	title: string
	description: string
	image?: string
}
---

<!DOCTYPE html>
<html lang='en-us'>
	<head>
		<HeadCommon />
		<HeadSeo type='website' {...props} />
		<title>{SITE.title}</title>

		<script is:inline>
			const html = document.documentElement
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme')
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark'
				}
				return 'light'
			})()
			if (theme === 'light') {
				html.classList.remove('dark')
				html.classList.add('light')
			} else {
				html.classList.add('dark')
				html.classList.remove('light')
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
