---
import "styles/global.css";
import "@fontsource/oswald";
import "@fontsource/karla";

import { twMerge } from "tailwind-merge";

import HeadCommon from "components/HeadCommon.astro";
import HeadSeo from "components/HeadSeo.astro";
import StarsBg from "components/ornaments/bg-stars.astro";
import { SeoProps, SITE } from "../config";

const { siteTitle, class: className, ...props } = Astro.props;
const title =
  props.frontmatter || siteTitle || props.title
    ? `${props.frontmatter?.siteTitle ?? siteTitle ?? props.title} | ${
        SITE.titleSuffix
      }`
    : SITE.title;

export interface Props extends SeoProps {
  siteTitle?: string;
  class?: string;
}
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <HeadCommon />
    <HeadSeo type="website" {...props} />
    <title>{title}</title>

    <script is:inline>
      const html = document.documentElement;
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        html.classList.remove("dark");
        html.classList.add("light");
      } else {
        html.classList.add("dark");
        html.classList.remove("light");
      }
    </script>
  </head>
  <body class="relative h-fit w-fit bg-slate-900 scrollbar-thin">
    <div
      class="absolute -z-40 h-full min-h-screen w-full min-w-[100lvw] overflow-clip"
    >
      <StarsBg />
    </div>

    <main class={twMerge("w-screen", className)}>
      <slot />
    </main>
  </body>
</html>
